<ng-container>
    <!-- <div class="container-fluid page">
        <div class="d-flex page__box p-3 mt-2">Product</div>
        <div class="page__content shadow p-3 position-relative">
            <div class="page__content-data position-absolute text-center">
                Dashboard Content Goes Here
            </div>
        </div>
    </div> -->
    <!-- <mat-tab-group> -->
    <!-- <mat-tab label="Add"> -->
    <div class="card-body">
        <div class="row">
            <!-- <div class="col-md-6 offset-md-3 col-12"> -->

            <form [formGroup]="productform" (ngSubmit)="submit()" enctype="multipart/form-data">
                <!-- <div class="col-md-6"> -->
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Product Title :</label>
                    <div class="col-sm-9">
                        <input type="text" formControlName="productname" class="form-control"
                            placeholder="Please Enter Product Name">
                        <span class="text-danger"
                            *ngIf="controlsofall.productname && controlsofall.productname.touched &&controlsofall.productname.errors">
                            There is Some Error in Product title
                        </span>
                    </div>
                </div>
                <!-- </div> -->
                <!-- <div class="col-md-6"> -->
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label"> Product Short Description
                        :</label>
                    <div class="col-sm-9">
                        <input type="text" formControlName="productshortdescription" class="form-control"
                            placeholder="Please Enter Product Name">
                        <span class="text-danger"
                            *ngIf="controlsofall.productshortdescription && controlsofall.productshortdescription.touched &&controlsofall.productshortdescription.errors">
                            There is Some Error in Product title
                        </span>
                    </div>
                </div>
                <!-- </div> -->
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Product Long Description:</label>
                    <div class="col-sm-9">
                        <textarea formControlName="productlongdescription" class="form-control"
                            placeholder="Please Enter Product Long Description"></textarea>
                        <span class="text-danger"
                            *ngIf="controlsofall.productname && controlsofall.productname.touched &&controlsofall.productname.errors">
                            There is Some Error in Product title
                        </span>
                    </div>
                </div>
                <!-- <div class="col-md-6"> -->
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Product Bestseller :</label>
                    <div class="col-sm-9">
                        <select formControlName="bestseller" class="form-control">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
                <!-- </div> -->
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Product Instock :</label>
                    <div class="col-sm-9">
                        <select formControlName="instock" class="form-control">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Product Option :</label>
                    <div class="col-sm-9">
                        <select formControlName="iproductOption_Id" class="form-control">
                            <option value="0">--select any--</option>
                            <option *ngFor="let options of avilableproducoptions" value="{{options.id}}">
                                {{options.vname}}</option>
                        </select>
                    </div>
                </div>
                <!-- avilablebrads -->
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Product Brand :</label>
                    <div class="col-sm-9">
                        <select formControlName="brandID" class="form-control">
                            <option value="0">--select any--</option>
                            <option *ngFor="let brands of avilablebrads" value="{{brands.id}}">
                                {{brands.vbrandName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Product Status :</label>
                    <div class="col-sm-9">
                        <select formControlName="status" class="form-control">
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-3 col-form-label">Product Price :</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="fprice" class="form-control"
                                placeholder="Please Enter Product Price">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-3 col-form-label">Product Discount Price :</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="fdiscountPrice" class="form-control"
                                placeholder="Please Enter Product Discount Price">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="input-group">
                        <label for="exampleInputFile" class="col-sm-3 col-form-label">Upload Product Image</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" formControlName="productimage" id="exampleInputFile">
                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                        </div>
                        <!-- <div class="input-group-append">
                                                        <span class="input-group-text">Upload</span>
                                                      </div> -->
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-primary">Add Product</button>
                </div>
            </form>
            <!-- </div> -->
        </div>
    </div>

    <!-- </form> -->
    <!-- </div>   -->

    <!-- </mat-tab> -->
    <!-- <mat-tab label="Update/Modify"> Content 2 </mat-tab> -->
    <!-- <mat-tab label="Third"> Content 3 </mat-tab> -->
    <!-- </mat-tab-group> -->

</ng-container>