<ng-container>
    <div class="container-fluid page">
        <div class="d-flex page__box p-3 mt-2">Product</div>
        <div class="page__content shadow p-3 position-relative">
            <div class="page__content-data position-absolute text-center">
                Dashboard Content Goes Here
            </div>
        </div>
    </div>
    <mat-tab-group>
        <mat-tab label="Add"> 
            <form [formGroup]="productform" (ngSubmit)="submit()"enctype="multipart/form-data">
            <!-- <div class="row"> -->
            <div class="col-md-6">
            <label>Product Title</label>
            <input type="text" formControlName="productname" placeholder="Please Enter Product Name">
            <span class="text-danger" *ngIf="controlsofall.productname && controlsofall.productname.touched">
                Name is required
            </span>
            <!-- <div *ngIf="controlsofall.producttitle.touched">something is invalid</div> -->
            </div>
            <!-- </div> -->
            <!-- <div class="row"> -->
            <div class="col-md-6">
            <label>Product Short Description</label>
            <input type="text" formControlName="productshortdescription" placeholder="Please Enter Product Short Description">
            </div>
            <!-- </div> -->
            <!-- <div class="row"> -->
            <div class="col-md-6">
            <label>Product Long Description</label>
            <textarea formControlName="productlongdescription" placeholder="Please Enter Product Long Description"></textarea>
            </div>
            <!-- </div> -->
            <!-- <div class="row"> -->
            <div class="col-md-6">
            <label>Product Bestseller</label>
            <input type="text" formControlName="bestseller" placeholder="Please Enter Product Name">
            </div>
            <!-- </div> -->
            <div class="col-md-6">
            <label>Product Instock</label>
            <input type="text" formControlName="instock" placeholder="Please Enter Product Name">
            </div>
            <div class="col-md-6">
            <label>Product Status</label>
            <input type="text" formControlName="status" placeholder="Please Enter Product Name">
            </div>
            <div class="col-md-6">
            <label>Product Image</label>
            <input type="file" formControlName="productimage" (change)="onSelectFile($event)" placeholder="Please Upload Product Image">
            </div>
            <button type="submit">Add Product</button>
            </form>    
        </mat-tab>
        <mat-tab label="Update/Modify"> Content 2 </mat-tab>
        <!-- <mat-tab label="Third"> Content 3 </mat-tab> -->
    </mat-tab-group>
    
</ng-container>