<ng-container>
    <div class="card-body">
        <div class="row">
            <form [formGroup]="productform" (ngSubmit)="submit()" enctype="multipart/form-data">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Product Title :</label>
                    <div class="col-sm-9">
                        <input type="text" formControlName="productname" class="form-control"
                            placeholder="Please Enter Product Name">
                        <span class="text-danger"
                            *ngIf="controlsofall.productname && controlsofall.productname.touched &&controlsofall.productname.errors">
                            There is Some Error in Product title
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label"> Product Short Description
                        :</label>
                    <div class="col-sm-9">
                        <input type="text" formControlName="productshortdescription" class="form-control"
                            placeholder="Please Enter Product Name">
                        <span class="text-danger"
                            *ngIf="controlsofall.productshortdescription && controlsofall.productshortdescription.touched &&controlsofall.productshortdescription.errors">
                            There is Some Error in Product title
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Product Long Description:</label>
                    <div class="col-sm-9">
                        <textarea formControlName="productlongdescription" class="form-control"
                            placeholder="Please Enter Product Long Description"></textarea>
                        <span class="text-danger"
                            *ngIf="controlsofall.productname && controlsofall.productname.touched &&controlsofall.productname.errors">
                            There is Some Error in Product title
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Product Bestseller :</label>
                    <div class="col-sm-9">
                        <select formControlName="bestseller" class="form-control">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Product Instock :</label>
                    <div class="col-sm-9">
                        <select formControlName="instock" class="form-control">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Product Status :</label>
                    <div class="col-sm-9">
                        <select formControlName="status" class="form-control">
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Product Option :</label>
                    <div class="col-sm-9">
                        <select formControlName="status" class="form-control" (change)="productoption($event.target)">
                            <option value="0">--select any--</option>
                            <option *ngFor="let options of avilableproducoptions" value="{{options.id}}">
                                {{options.vname}}</option>
                        </select>
                    </div>
                </div>
                <!-- avilablebrads -->
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Product Brand :</label>
                    <div class="col-sm-9">
                        <select formControlName="status" class="form-control" (change)="sendbrnad($event.target)">
                            <option value="0">--select any--</option>
                            <option *ngFor="let brands of avilablebrads" value="{{brands.id}}">
                                {{brands.vbrandName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="input-group">
                        <label for="exampleInputFile" class="col-sm-3 col-form-label">Upload Product Image</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="exampleInputFile">
                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                        </div>
                        <!-- <div class="input-group-append">
                                                        <span class="input-group-text">Upload</span>
                                                      </div> -->
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-primary">Update Product</button>
                </div>
            </form>
        </div>
    </div>
</ng-container>