<ng-container>
    <div class="card-body">
        <div class="row">
            <!-- Stock Form Started -->
            <form [formGroup]="stockform" (ngSubmit)="submit()" enctype="multipart/form-data">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Product :</label>
                    <div class="col-sm-9">
                        <select formControlName="producid" class="form-control">
                            <option value="">--Select Product--</option>
                            <option *ngFor="let products of productlisting" value="{{products.id}}">
                                {{products?.vproductName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Product Option :</label>
                    <div class="col-sm-9">
                        <select formControlName="iproductOption_Id" class="form-control">
                            <option value="0">--select any--</option>
                            <option *ngFor="let options of avilableproducoptions" value="{{options.id}}">
                                {{options.vname}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Product Stock Action :</label>
                    <div class="col-sm-9">
                        <select formControlName="status" class="form-control">
                            <option value="+">Add</option>
                            <option value="-">Defect</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Product Qty :</label>
                    <div class="col-sm-9">
                        <input type="text" formControlName="qty" class="form-control"
                            placeholder="Please Enter Product Price">
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-primary">Add Product</button>
                </div>
            </form>
            <!-- Stock Form End Here -->
            <div class="table responsive">
                <!-- Start Table -->
                <table class="table" mat-table [dataSource]="filtergrid" matSort
                    (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
                    <!-- Product Name Column -->
                    <ng-container matColumnDef="vproductName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Product Name
                        </th>
                        <td mat-cell *matCellDef="let element"> {{ element.vproductName }} </td>
                    </ng-container>
                    <!-- Brand Name Column -->
                    <ng-container matColumnDef="vbrandName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Brand Name
                        </th>
                        <td mat-cell *matCellDef="let element"> {{ element.vbrandName }} </td>
                    </ng-container>
                    <!-- Available Option Column -->
                    <ng-container matColumnDef="vname">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Available Option
                        </th>
                        <td mat-cell *matCellDef="let element"> {{ element.vname }} </td>
                    </ng-container>
                    <!-- Data Enter By Column -->
                    <!-- <ng-container matColumnDef="entered_person">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Data Enter By
                        </th>
                        <td mat-cell *matCellDef="let element"> {{ element.entered_person }} </td>
                    </ng-container> -->
                    <!-- Quantity Column -->
                    <ng-container matColumnDef="availablestockincompany">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Quantity
                        </th>
                        <td mat-cell *matCellDef="let element"> {{ element.availablestockincompany }} </td>
                    </ng-container>
                    <!--  Add/Substract Column -->
                    <!-- <ng-container matColumnDef="Added_substract">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Add/Substract
                        </th>
                        <td mat-cell *matCellDef="let element"> {{ element.Added_substract }} </td>
                    </ng-container> -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <!-- Ended Table -->
                <!-- Grid Pagination -->
                <mat-paginator [pageSizeOptions]="[ 5, 10, 20]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>
                <!-- End Grid Pagination -->
            </div>
        </div>
    </div>
</ng-container>