p{
    color: white;
}
.mat-table {
    width:100%;max-width:100%;margin-bottom:1rem;
    /* background-color:transparent */
}

.mat-header-cell .mat-sort-header-sorted {
padding:.75rem;vertical-align:top;border-top:1px solid red
}

md-pagination-wrapper {
    width:auto !important;
}